<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="lib/vue.js"></script>
<script src="lib/axios.min.js"></script>
<script src="js/objects.js"></script>
<script src="js/axios-config.js"></script>
<script src="js/util.js"></script>
<style>
    .num-input {
        width: 60px;
    }

    table {
        border-spacing: 0;
        margin: 0 auto;
        border-collapse: separate;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-left: 1px solid rgba(0, 0, 0, 0.5);
    }

    td {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-collapse: collapse;
        border-spacing: 0;
        padding: 0;
        text-align: center;
    }
</style>
<body>
<div id="app">
    <input id="uploadFileInput" type="file" name="file" value="请选择文件">
    <button v-on:click="upload()">上传</button>
    <span>{{status}}</span>
    <br/>
    <input type="checkbox" id="delete" v-model="deleteAfterUpload">
    <label for="delete">上传后立即删除文件</label>
    <br/>

    <label for="expireTime">数据保存内存中时间</label>
    <input type="number" id="expireTime" class="num-input" v-model="expireTimeMinutes">
    <span>分钟</span>
    <hr/>
    <label for="dataId">文件编号：</label><input id="dataId" v-model="dataId" style="width: 250px">
    <hr/>
    <span>　文件名：{{dataSimpleInfoDto.filename}}</span><span v-show="dataSimpleInfoDto.fileDeleted"> [已删除]</span>
    <br/>
    <span>上传时间：{{parseTimeToStr(dataSimpleInfoDto.createTime)}}</span>
    <br/>
    <span>过期时间：{{parseTimeToStr(dataSimpleInfoDto.createTime + dataSimpleInfoDto.expireTime)}}</span>
    <br/>
    <span>数据条数：{{dataSimpleInfoDto.recordNums}}</span>
    <br/>
    <span>共有字段：{{dataSimpleInfoDto.heads == null? "": dataSimpleInfoDto.heads.length + " 个"}}</span>
    <br/>
    <span>字段列表：</span><span v-if="dataSimpleInfoDto.heads" v-for="head in dataSimpleInfoDto.heads"><span>{{head.value}} </span></span>

    <hr/>

    <label for="rowCount">数据条数</label><input type="number" id="rowCount" v-model="rowCount" class="num-input">
    <br/>
    <button @click="changePage(0)" :disabled="dataLoading">首页</button>
    <button @click="changePage(-1)" :disabled="dataLoading">上一页</button>
    <button @click="changePage(1)" :disabled="dataLoading">下一页</button>
    <label>
        页码
        <input type="number" v-model="page" class="num-input">
        <button @click="getDataList()" :disabled="dataLoading">获取数据</button>
    </label>
    <hr/>

    <button v-for="(name, index) in exportButtonList" @click="exportFile(index)" :disabled="exportStatusList[index]">{{name}}</button>
    <br/>
    <input type="radio" name="choose" id="choose-all" value="true" v-model="chooseAll">
    <label for="choose-all">全部数据</label>
    <input type="radio" name="choose" id="choose-some" value="false" v-model="chooseAll">
    <label for="choose-some">自定义数量数据</label>
    <div v-show="chooseAll === false || chooseAll === 'false'">
        <label for="import-start">开始</label>
        <input id="import-start" type="number" v-model="exportStart" min="1" class="num-input">
        <label for="import-end">->结束</label>
        <input id="import-end" type="number" v-model="exportEnd" min="1" class="num-input">
    </div>

    <hr/>
    <table v-if="dataDto && dataDto.dataList">
        <thead>
        <tr>
            <td></td>
            <template v-for="(head, index) in dataDto.heads">
                <td><label><input type="checkbox" v-model="head.checked"></label></td>
            </template>
        </tr>
        <tr>
            <td>序号</td>
            <template v-for="head in dataDto.heads">
                <td>{{head.value}}</td>
            </template>
        </tr>
        </thead>

        <tbody>
        <template v-for="(row, index) in dataDto.dataList">
            <tr>
                <td>{{(dataDto.pageInfo.page - 1) * dataDto.pageInfo.rowCount + index + 1}}</td>
                <template v-for="col in row">
                    <td>{{col.value}}</td>
                </template>
            </tr>
        </template>
        </tbody>
    </table>
</div>

<script src="js/app.js"></script>
</body>
</html>